/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src:url("assets/fonts/MyriadPro-Regular.otf");
	fontFamily: "MyriadProRegNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Regular.otf");
	fontFamily: "MyriadProReg";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Bold.otf");
	fontFamily: "MyriadProBoldNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Bold.otf");
	fontFamily: "MyriadProBold";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-It.otf");
	fontFamily: "MyriadProItNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-It.otf");
	fontFamily: "MyriadProIt";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-SemiBold.otf");
	fontFamily: "MyriadProSemiBoldNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-SemiBold.otf");
	fontFamily: "MyriadProSemiBold";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/BentonSans-Medium.otf");
	fontFamily: "BentonSansMedNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/BentonSans-Medium.otf");
	fontFamily: "BentonSansMed";
	embedAsCFF: true;
}

global {
	chrome-color:#e0e0e0;
	content-background-alpha: 0.0;
	
	/*
	modalTransparencyBlur: 0;
	modalTransparency: 0.8;
	modalTransparencyColor: black;
	modalTransparencyDuration: 500;
	*/
}

s|TabbedViewNavigator #tabBar
{
	chromeColor: #e0e0e0;
	contentBackgroundAlpha:0.0;
}

s|View
{
	backgroundAlpha:0.0;
	contentBackgroundAlpha:0.0;
}

s|Form
{
	backgroundAlpha:0.0;
	contentBackgroundAlpha:0.0;
}

s|Label {
	font-size:15;
	color:#191919;
}


s|List  {
	contentBackgroundAlpha:0.0;
	border-visible:false;
}

s|Button {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProRegNoCFF";
	font-weight: normal;
}

s|Image {
	skinClass: ClassReference("com.rovicorp.skins.ImageSkin");
}

s|Scroller {
	skinClass: ClassReference("com.rovicorp.skins.ScrollerSkin");}

s|VScrollBar {     
	skinClass: ClassReference("com.rovicorp.skins.VScrollBarSkin"); 
} 

s|HScrollBar {     
	skinClass: ClassReference("com.rovicorp.skins.HScrollBarSkin"); 
} 

.ErrorMessage
{
	color:#fb0505;
	fontSize:20;
	fontFamily: "MyriadPro";
	font-weight: normal;
}

.LocationError{
	fontSize: 24;
	fontWeight: normal;
	color: #282828;
	fontFamily: "MyriadPro";
}

.TitleDetailsHeader {
	color: #282828;
	fontSize: 24;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.TitleDetailsSubheader {
	color: #414141;
	fontSize: 18;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.TitleDetailsEpisodeName {
	color: #666666;
	fontSize: 16;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.TitleDetailsText {
	color: #282828;
	fontSize: 16;
}

.TitleDetailsTextItalic {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProIt";
	font-weight: normal;
}

.TitleDetailsSynopsis {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.TitleDetailsBtn {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProRegNoCFF";
	font-weight: normal;
}

.ErrorLabel {
	color: #FF0000;
	fontSize:14;
}

.LegalText {
	color: #323232;
	font-size: 16px;
	fontFamily: "MyriadProReg";
}

.DialogTitle {
	color: #323232;
	fontSize: 18;
	fontFamily: "MyriadProBold";
}

.DialogButton {
	color: #000000;
	fontSize: 18;
	fontFamily: "MyriadProReg";
}

.MessageText {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.MessageHeading {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProBold";
	fontWeight: normal;
}

.CategoryText {
	color: #191919;
	fontSize: 15px;
	fontFamily: "MyriadProSemiBold";
	fontWeight: normal;
}

.CategoryLabel {
	color: #323232;
	fontSize: 18px;
	fontFamily: "MyriadProBold";
	fontWeight: normal;
}

.CategoryTitleText {
	color: #191919;
	fontSize: 14px;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.categoryTitlesTitle {
	color: #ffffff;
	fontSize: 16px;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.categoryTitlesTotal {
	color: #E1E1E1;
	fontSize: 16px;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.ViewHeader {
	color: #282828;
	font-size: 22px;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.DownloadTitleHeader
{
	color: #323232;
	font-size: 18px;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.DownloadTitleErrorHeader
{
	color: #FFFFFF;
	font-size: 18px;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.DownloadProgressText
{
	color: #323232;
	font-size: 16px;
	fontFamily: "MyriadPro";
	font-weight: normal;
}
.DownloadProgressErrorText
{
	color: #fb0505;
	font-size: 15px;
	fontFamily: "MyriadPro";
	font-weight: normal;
}

.DownloadStatus
{
	color: #323232;
	font-size: 16px;
	fontFamily: "MyriadProIt";
	font-weight: normal;
}

.DownloadErrorText
{
	color: #fb0505;
	font-size: 18px;
	fontFamily: "MyriadPro";
	font-weight: normal;
}

.SearchPerson {
	color: #003c9f;
	fontSize: 18px;
	fontFamily: "MyriadPro";
	fontWeight: normal;
}

.SettingsGuidanceText {
	color: #414141;
	font-size: 16px;
	fontFamily: "MyriadProIt";
	font-weight: normal;
}

.SettingsText {
	color: #2D2D2D;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.SettingsUserName {
	color: #282828;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.Subheader_AccountCreation {
	color: #2D2D2D;
	font-size: 18px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.FieldDesc_AccountCreation {
	color: #414141;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.GenericBtn {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.GenericBoldBtn {
	color: #000000;
	fontSize: 18px;
	fontFamily: "MyriadProBold";
	fontWeight: normal;
 } 

.GenericTextInput {
	color: #666666;
	fontSize: 18px;
	fontFamily: "MyriadProRegNoCFF";
	fontWeight: normal;
}

.AdvSearch_Header {
	color: #ffffff;
	font-size: 16px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.AdvSearch_BtnText {
	color: #ffffff;
	font-size: 14px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.MediaPlayerTitleName {
	color:#ffffff;
	fontSize:16px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.MediaPlayerTimeLabel {
	color:#e3e3e3;
	fontSize:12px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.inputText {
	color:#666666;
	fontSize:17px;
	fontFamily: "MyriadProRegNoCFF";
	fontWeight:normal;
}

.menuItem {
	color:#FFFFFF;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.categoryName {
	color: #191919;
	fontSize: 17px;
	fontFamily: "MyriadProBold";
	fontWeight: bold;
}

.LocationErrorLabel
{
	color: #282828;
}
