/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src:url("assets/fonts/MyriadPro-Regular.otf");
	fontFamily: "MyriadProRegNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Regular.otf");
	fontFamily: "MyriadProReg";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Bold.otf");
	fontFamily: "MyriadProBoldNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-Bold.otf");
	fontFamily: "MyriadProBold";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-It.otf");
	fontFamily: "MyriadProItNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-It.otf");
	fontFamily: "MyriadProIt";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/MyriadPro-SemiBold.otf");
	fontFamily: "MyriadProSemiBoldNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/MyriadPro-SemiBold.otf");
	fontFamily: "MyriadProSemiBold";
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/BentonSans-Medium.otf");
	fontFamily: "BentonSansMedNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/BentonSans-Medium.otf");
	fontFamily: "BentonSansMed";
	embedAsCFF: true;
}

global {
	chrome-color:#e0e0e0;
}

s|Label {
	font-size:15;
	color:#191919;
}

s|List {
	contentBackgroundAlpha:0.0;
	border-visible:false;
}

s|Button {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProRegNoCFF";
	font-weight: normal;
}

.TitleDetailsHeader {
	color: #191919;
	fontSize: 24;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.TitleDetailsSubheader {
	color: #666666;
	fontSize: 18;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.TitleDetailsEpisodeName {
	color: #666666;
	fontSize: 16;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.TitleDetailsText {
	color: #323232;
	fontSize: 16;
}

.TitleDetailsTextItalic {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProIt";
	font-weight: normal;
}

.TitleDetailsSynopsis {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.TitleDetailsBtn {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProRegNoCFF";
	font-weight: normal;
}

.ErrorLabel {
	color: #FF0000;
	fontSize:14;
}

.LegalText {
	color: #323232;
	font-size: 16px;
	fontFamily: "MyriadProReg";
}

.DialogTitle {
	color: #323232;
	fontSize: 18;
	fontFamily: "MyriadProBold";
}

.DialogButton {
	color: #000000;
	fontSize: 18;
	fontFamily: "MyriadProReg";
}

.MessageText {
	color: #323232;
	fontSize: 16;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.CategoryText {
	color: #191919;
	fontSize: 18px;
	fontFamily: "MyriadProBold";
	fontWeight: normal;
}

.CategoryTitleText {
	color: #191919;
	fontSize: 11px;
	fontWeight: bold;
}

.categoryTitlesTitle {
	color: #ffffff;
	fontSize: 16px;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.categoryTitlesTotal {
	color: #c8c8c8;
	fontSize: 16px;
	fontFamily: "MyriadProReg";
	fontWeight: normal;
}

.ViewHeader {
	color: #323232;
	font-size: 22px;
	fontFamily: "MyriadProBold";
	font-weight: normal;
}

.SettingsGuidanceText {
	color: #666666;
	font-size: 16px;
	fontFamily: "MyriadProIt";
	font-weight: normal;
}

.SettingsText {
	color: #666666;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.Subheader_AccountCreation {
	color: #666666;
	font-size: 18px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.FieldDesc_AccountCreation {
	color: #666666;
	font-size: 18px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.GenericBtn {
	color: #000000;
	font-size: 18px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.GenericTextInput {
	color: #666666;
	font-size: 18px;
	fontFamily: "MyriadProRegNoCFF";
	font-weight: normal;
}

.AdvSearch_Header {
	color: #ffffff;
	font-size: 16px;
	fontFamily: "MyriadProSemiBold";
	font-weight: normal;
}

.AdvSearch_BtnText {
	color: #ffffff;
	font-size: 14px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.MediaPlayerTitleName {
	color:#ffffff;
	fontSize:16px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.MediaPlayerTimeLabel {
	color:#e3e3e3;
	fontSize:12px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

.inputText {
	color:#666666;
	fontSize:17px;
	fontFamily: "MyriadProReg";
	font-weight:normal;
}

.menuItem {
	color:#ffffff;
	font-size: 18px;
	fontFamily: "MyriadProReg";
	font-weight: normal;
}

